<main class="form-signin">

    <form>
        <h1 class="h3 mb-3 fw-normal" style="text-align: center; color: aliceblue;">ورود به صفحه کاربری</h1>
        <label for="inputEmail" class="visually-hidden" style="color: aliceblue;">آدرس ایمیل</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="ایمیل" required autofocus>
        <label for="inputPassword" class="visually-hidden" style="color: aliceblue;">رمز ورود</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="رمز ورود" required>
        <div class="checkbox mb-3">
            <label style="color: aliceblue;">
                <input type="checkbox" value="remember-me"> مرا به خاطر بسپار
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">ورود</button>
    </form>
</main>