<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
			<form class="login100-form validate-form" action="/user/login" method="POST">
				<span class="login100-form-title p-b-55" style="font-family: BYekan;">
					ورود به بخش مدیریت
				</span>
				<%- include("./includes/LoginMessages") %>
					<div class="wrap-input100 validate-input m-b-16"
						data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="ایمیل"
							style="font-family: BYekan;" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="رمزعبور"
							style="font-family: BYekan;" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

					<div class="contact100-form-checkbox m-l-4">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember">
						<label class="label-checkbox100" for="ckb1" style="font-family: BYekan;">
							مرا به خاطر بسپار
						</label>
					</div>
					<div class="form-group m-t-10">
						<div class="g-recaptcha" data-sitekey="6Ldubk8aAAAAAIDQvlqG4JViXy_ww9KDJYw3JGQZ">
						</div>
					</div>
					<div class="container-login100-form-btn p-t-25">
						<input type="submit" value="ورود" class="login100-form-btn"
							style="font-family:'BYekan';"></input>
					</div>

					<div class="text-center w-full p-t-42 p-b-22">

					</div>

					<div class="text-center w-full p-t-115">
						<span class="txt1" style="font-family: BYekan;">
							<a class="txt1 bo1 hov1" style="font-family: 'BYekan';"
								href="/user/getForgotPassword">رمزعبورخودرافراموش
								کردید؟</a>
						</span>

						<a class="txt1 bo1 hov1" href="/user/register" style="font-family: BYekan;">
							ثبت نام
						</a>
					</div>
			</form>
		</div>
	</div>
</div>
</body>