<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h2 style="font-family: 'BYekan';" >صفحه مورد نظر شما پیدانشد</h2>
		</div>
		<a style="font-family: 'BYekan';" href="/">بازگشت به صفحه اصلی</a>
	</div>
</div>