<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h2 style="font-family: 'BYekan';" >مشکلی از سمت سرور به وجود امده است لطفا دوباره تلاش کنید</h2>
		</div>
		<a style="font-family: 'BYekan';" href="/dashboard">بازگشت به داشبورد</a>
	</div>
</div>